<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card mt-5">
        <img
          src="https://avatars0.githubusercontent.com/u/17849521?s=460&u=d7a10f8474abf59efdc7e294ae11468a1a69cad0&v=4"
          alt="Sampath Tharanga" style="width:100%">
        <h1>Sampath Tharanga</h1>
        <p class="title">Angular Lover</p>
        <p>Developer</p>
        <div style="margin: 24px 0;">
          <a href="http://www.athaebula.com/" target="_blank"><i class="fa fa-dribbble"></i></a>
          <a href="https://twitter.com/sampath13331" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/sampath-tharanga-b842b869/" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="https://www.facebook.com/sampath.tharanga.50" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://github.com/SampathTharanga" target="_blank"><i class="fa fa-github"></i></a>
        </div>
        <p><button>Contact</button></p>
      </div>
    </div>
  </div>
</div>