.top-menu-spacer {
    flex: 1 1 auto;
  }

.main-row{
  margin: 80px 0 0 50px;
}
/*

.donut-chart{
  margin:0 30px 0 0;
}
*/
.count-list{
  margin: 70px 0 0 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.bg-4 { 
  background-color: #C2185B; /* Black Gray */
  color: #fff;
}

.footer-container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.mid-container{
  padding-bottom: 50px;
}
.footer-container > p > a{
  color: white;
}

.navbar{
  background-color: #C2185B !important;
}

.navbar-shadow {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);  
}

.footer-shadow{
  box-shadow: 0 -4px 2px -2px rgba(0,0,0,0.4);
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }